## Data Munging?!
## Exploratory Data Analysis?!

# Data Munging & EDA!!

`Munging` is the colloquial term for going through raw data and processing it to a point of usefulness.<br>
`EDA` is the iterative process of learning about your data and how to process it.

You will find that a significant amount of time in most real-world data science/analysis projects involves acquiring, structuring, cleaning, and otherwise pre-processing your dataset of interest _before_ you can get into the actual analytics.

It is critical to understand the structure and reliability of your data, so the EDA/Munging process also exposes you to the strengths and weaknesses of your data set.

### What might `data munging` involve?
-Finding & cleaning `outliers` <br>
-Finding & cleaning `mis-typed` data elements<br>
-Finding & cleaning `unavailable/empty` data elements<br>

### It can also include...
-Combining data sets<br>
-Creating new data elements from existing data<br>
-Discovering new and unusual data problems to solve!

### We are going to look at a data set of NBA player data from the Kaggle website

In [1]:
# first let's import the standard libraries we've been working with

import numpy as np
import pandas as pd
import datascience as ds

## Let's start by simply opening the files and reading the data into tables.

## The Pandas .read_csv() feature will take a `Comma Separated Values` file and create a DataFrame from it.<br>
## We find .csv files frequently. They are concise, and can be easily read & written by a variety of programs.

## We can also see that .read_csv() can take many, many `arguments`<br>
## As with any feature, use a question mark to call up the syntax thusly: `pd.read_csv?`<br>
## For starters, we'll just be providing a file name. <br>
## You will need to ensure that the file is in the `filepath` or explicitly provide it.

In [2]:
pd.read_csv

<function pandas.io.parsers._make_parser_function.<locals>.parser_f(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)>

In [3]:
# Where will our read_csv look?
# os.getcwd() tells us the Current Working Diretory

import os
os.getcwd()

'/home/jovyan/Sports Analytics/Homework 3 (NBA)'

In [4]:
# the first file is Season_Stats.csv
# we are implicitly creating a Pandas DataTable called ann_stats with the contents of this file
# "nba-players-stats" is a subdirectory of "data8_sports"


ann_stats = pd.read_csv('Seasons_Stats.csv')

In [5]:
type(ann_stats)

pandas.core.frame.DataFrame

In [6]:
ann_stats

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0
10,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
11,11,1950.0,Nelson Bobb,PG,25.0,PHW,57.0,NaN,NaN,NaN,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
12,12,1950.0,Jake Bornheimer,F-C,22.0,PHW,60.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
13,13,1950.0,Vince Boryla,SF,22.0,NYK,59.0,NaN,NaN,NaN,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
14,14,1950.0,Don Boven,F-G,24.0,WAT,62.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
15,15,1950.0,Harry Boykoff,C,27.0,WAT,61.0,NaN,NaN,NaN,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
16,16,1950.0,Joe Bradley,G,21.0,CHS,46.0,NaN,NaN,NaN,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
17,17,1950.0,Bob Brannum,PF,24.0,SHE,59.0,NaN,NaN,NaN,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
18,18,1950.0,Carl Braun,G-F,22.0,NYK,67.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
19,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
20,20,1950.0,Price Brookfield,F-G,29.0,ROC,7.0,NaN,NaN,NaN,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
21,21,1950.0,Bob Brown,F,26.0,DNN,62.0,NaN,NaN,NaN,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
22,22,1950.0,Jim Browne,C,20.0,DNN,31.0,NaN,NaN,NaN,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
23,23,1950.0,Walt Budko,PF,24.0,BLB,66.0,NaN,NaN,NaN,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
24,24,1950.0,Jack Burmaster,G,23.0,SHE,61.0,NaN,NaN,NaN,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
25,25,1950.0,Tommy Byrnes,F-G,26.0,BLB,53.0,NaN,NaN,NaN,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
26,26,1950.0,Bill Calhoun,SG,22.0,ROC,62.0,NaN,NaN,NaN,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
27,27,1950.0,Don Carlson,G-F,30.0,MNL,57.0,NaN,NaN,NaN,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
28,28,1950.0,Bob Carpenter,F-C,32.0,FTW,66.0,NaN,NaN,NaN,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
29,29,1950.0,Jake Carter,F-C,25.0,TOT,24.0,NaN,NaN,NaN,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24661,24661,2017.0,Deron Williams,PG,32.0,TOT,64.0,44.0,1657.0,14.0,...,0.826,14.0,133.0,147.0,360.0,31.0,8.0,138.0,138.0,701.0
24662,24662,2017.0,Deron Williams,PG,32.0,DAL,40.0,40.0,1171.0,15.0,...,0.821,13.0,89.0,102.0,274.0,25.0,2.0,98.0,96.0,522.0
24663,24663,2017.0,Deron Williams,PG,32.0,CLE,24.0,4.0,486.0,11.4,...,0.840,1.0,44.0,45.0,86.0,6.0,6.0,40.0,42.0,179.0
24664,24664,2017.0,Derrick Williams,PF,25.0,TOT,50.0,11.0,804.0,10.6,...,0.652,19.0,111.0,130.0,28.0,14.0,7.0,28.0,60.0,304.0
24665,24665,2017.0,Derrick Williams,PF,25.0,MIA,25.0,11.0,377.0,10.1,...,0.620,16.0,57.0,73.0,14.0,9.0,5.0,14.0,33.0,148.0
24666,24666,2017.0,Derrick Williams,PF,25.0,CLE,25.0,0.0,427.0,11.1,...,0.692,3.0,54.0,57.0,14.0,5.0,2.0,14.0,27.0,156.0
24667,24667,2017.0,Lou Williams,SG,30.0,TOT,81.0,1.0,1994.0,21.4,...,0.880,26.0,176.0,202.0,239.0,80.0,19.0,160.0,92.0,1421.0
24668,24668,2017.0,Lou Williams,SG,30.0,LAL,58.0,1.0,1403.0,23.9,...,0.884,14.0,118.0,132.0,183.0,65.0,10.0,120.0,67.0,1078.0
24669,24669,2017.0,Lou Williams,SG,30.0,HOU,23.0,0.0,591.0,15.4,...,0.867,12.0,58.0,70.0,56.0,15.0,9.0,40.0,25.0,343.0
24670,24670,2017.0,Marvin Williams,PF,30.0,CHO,76.0,76.0,2295.0,13.7,...,0.873,89.0,409.0,498.0,106.0,58.0,53.0,60.0,134.0,849.0
24671,24671,2017.0,Reggie Williams,SF,30.0,NOP,6.0,0.0,79.0,11.7,...,0.857,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0
24672,24672,2017.0,Troy Williams,SF,22.0,TOT,30.0,16.0,557.0,8.9,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
24673,24673,2017.0,Troy Williams,SF,22.0,MEM,24.0,13.0,418.0,7.6,...,0.600,6.0,39.0,45.0,19.0,24.0,9.0,27.0,42.0,127.0
24674,24674,2017.0,Troy Williams,SF,22.0,HOU,6.0,3.0,139.0,12.8,...,0.857,9.0,15.0,24.0,6.0,3.0,1.0,6.0,18.0,58.0
24675,24675,2017.0,Kyle Wiltjer,PF,24.0,HOU,14.0,0.0,44.0,6.7,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
24676,24676,2017.0,Justise Winslow,SF,20.0,MIA,18.0,15.0,625.0,8.2,...,0.617,23.0,71.0,94.0,66.0,27.0,6.0,33.0,52.0,196.0
24677,24677,2017.0,Jeff Withey,C,26.0,UTA,51.0,1.0,432.0,18.8,...,0.750,52.0,69.0,121.0,7.0,16.0,32.0,14.0,52.0,146.0
24678,24678,2017.0,Christian Wood,PF,21.0,CHO,13.0,0.0,107.0,15.1,...,0.733,14.0,15.0,29.0,2.0,3.0,6.0,7.0,11.0,35.0
24679,24679,2017.0,Metta World,SF,37.0,LAL,25.0,2.0,160.0,6.2,...,0.625,5.0,15.0,20.0,11.0,9.0,2.0,7.0,18.0,57.0
24680,24680,2017.0,Brandan Wright,PF,29.0,MEM,28.0,5.0,447.0,18.5,...,0.657,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0
24681,24681,2017.0,Delon Wright,PG,24.0,TOR,27.0,0.0,446.0,15.0,...,0.764,16.0,32.0,48.0,57.0,27.0,11.0,25.0,31.0,150.0
24682,24682,2017.0,James Young,SG,21.0,BOS,29.0,0.0,220.0,10.0,...,0.667,6.0,20.0,26.0,4.0,10.0,2.0,4.0,15.0,68.0
24683,24683,2017.0,Joe Young,PG,24.0,IND,33.0,0.0,135.0,11.4,...,0.733,1.0,16.0,17.0,15.0,4.0,0.0,5.0,5.0,68.0
24684,24684,2017.0,Nick Young,SG,31.0,LAL,60.0,60.0,1556.0,14.1,...,0.856,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0
24685,24685,2017.0,Thaddeus Young,PF,28.0,IND,74.0,74.0,2237.0,14.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
# the feature .head() will return the top 5 rows of the DataTable
# .head() will take an integer and return that many rows, if desired.
# this is a good feature to get a quick look at the data as it includes the header line (column titles)

ann_stats.head(16)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0
10,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
11,11,1950.0,Nelson Bobb,PG,25.0,PHW,57.0,NaN,NaN,NaN,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
12,12,1950.0,Jake Bornheimer,F-C,22.0,PHW,60.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
13,13,1950.0,Vince Boryla,SF,22.0,NYK,59.0,NaN,NaN,NaN,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
14,14,1950.0,Don Boven,F-G,24.0,WAT,62.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
15,15,1950.0,Harry Boykoff,C,27.0,WAT,61.0,NaN,NaN,NaN,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0

# What can we say about this file at first glance?

## What does each row represent?
## Is the data complete? sparce? What's "NaN"?

## What about the "..." between PER and FT%?

In [8]:
# we can use the feature .columns to get a full view of the data headers

ann_stats.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [9]:
# We have 2 more data files, "player_data.csv" and "players.csv"

# Let's investigate their contents

player_data = pd.read_csv('player_data.csv')

In [10]:
player_data.head(10)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN

### player_data.csv appears to contain information about individual players

### Data fields include start/end year, position, height/weight, birthdate, and college attended

### What would it say for a player who didn't attend college?

In [11]:
# Space here to look for one of those records...

In [12]:
# Let's now look at the final file, players.csv

players = pd.read_csv('Players.csv')

In [13]:
players.head(10)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana

## players.csv seems to have some _similar_ information as player_data...
## But they are distinct

## We can infer that the height field in player_data.csv "6-9", "6-10" are in English units of feet-inches
## While the same field in players.csv appears to be in Metric units of centimeters
## We will look at some individual records to test this hypothesis

## Notice also, the column title in players.csv of "collage" instead of "college"

## Finally, notice that players.csv has an index column "Unnamed" and so we see 2 indices on the leftmost columns, one from the file, and an imputed one from the DataFrame object.

# `Aside: Open .CSV files right in Jupyter Notebook

## Let's Look at some individual player records!

## We'll start with one of the all-time legends, Wilt Chamberlain

In [14]:
# Let's look for Wilt the Stilt's record in player_data...

player_data.loc['Wilt Chamberlain']

KeyError: 'the label [Wilt Chamberlain] is not in the [index]'

In [15]:
# We can see that we can give .loc[] an index and it returns the row associated with that index

player_data.loc[9]

name            Alex Abrines
year_start              2017
year_end                2018
position                 G-F
height                   6-6
weight                   190
birth_date    August 1, 1993
college                  NaN
Name: 9, dtype: object

In [16]:
# We can also give .loc[] a range
# This output should raise some questions...

player_data.loc[250:265]

,name,year_start,year_end,position,height,weight,birth_date,college
250,Kent Bazemore,2013,2018,G-F,6-5,201.0,"July 1, 1989",Old Dominion University
251,Ed Beach,1951,1951,F,6-3,200.0,"January 25, 1929",West Virginia University
252,Bradley Beal,2013,2018,G,6-5,207.0,"June 28, 1993",University of Florida
253,Al Beard,1968,1968,C,6-9,200.0,"April 27, 1942",Norfolk State University
254,Butch Beard,1970,1979,G,6-3,185.0,"May 4, 1947",University of Louisville
255,Ralph Beard,1950,1951,G,5-10,175.0,"December 2, 1927",University of Kentucky
256,Charles Beasley,1968,1971,G-F,6-5,190.0,"September 23, 1945",Southern Methodist University
257,Jerome Beasley,2004,2004,F,6-10,237.0,"May 17, 1980",University of North Dakota
258,John Beasley,1968,1974,F-C,6-9,225.0,"February 5, 1944",Texas A&M University
259,Malik Beasley,2017,2018,G,6-5,196.0,"November 26, 1996",Florida State University
260,Michael Beasley,2009,2018,F,6-9,235.0,"January 9, 1989",Kansas State University
261,Zelmo Beaty,1963,1975,C,6-9,225.0,"October 25, 1939",Prairie View A&M University
262,Rodrigue Beaubois,2010,2013,G,6-0,170.0,"February 24, 1988",NaN
263,Byron Beck,1968,1977,C-F,6-9,225.0,"January 25, 1945",University of Denver
264,Corey Beck,1996,1999,G,6-1,190.0,"May 27, 1971",University of Arkansas
265,Ernie Beck,1954,1961,G-F,6-4,190.0,"December 11, 1931",University of Pennsylvania

### Meanwhile, we still haven't located The Big Dipper's record!

#### Let's explore ways to find it.

#### First, we can see the "name" field is First Last.

#### We use the feature .isin()

In [17]:
# the column object from a DataFrame is a Series

type(player_data['name'])

pandas.core.series.Series

In [18]:
# When we search that Series for exact matches for "Wilt Chamberlain"
# we get a Series of boolean values back, with "False" in every element except the one with Wilt

#player_data['name'].isin(['Wilt Chamberlain'])
player_data['name'].isin(['Wilt Chamberlain'])[670:680]

670    False
671    False
672    False
673     True
674    False
675    False
676    False
677    False
678    False
679    False
Name: name, dtype: bool

In [19]:
# Putting this all together we see that .loc is now taking a Series of boolean values 
# and returning the rows with values of "True"

player_data.loc[player_data['name'].isin(['Wilt Chamberlain'])]

,name,year_start,year_end,position,height,weight,birth_date,college
673,Wilt Chamberlain,1960,1973,C,7-1,275.0,"August 21, 1936",University of Kansas

## All well and good. 
## What if we didn't know he was listed as "Wilt Chamberlain"?

### How can we search that list of players with less than a full name to go off?

In [20]:
# Here is a snippet of code that will return a list of all elements containing our string value of interest

matching = [s for s in player_data['name'] if "Wilt" in s]

In [21]:
# and we find only one other player with "Wilt" in their name

matching

['Wilt Chamberlain', 'Kyle Wiltjer']

In [22]:
# Is this case sensitive?
# inconclusive!

matching2 = [s for s in player_data['name'] if "wilt" in s]
print(matching2)

[]

### We can put these pieces together and return all the records containing our search string of interest

In [23]:
player_data.loc[player_data['name'].isin(s for s in player_data['name'] if "Wilt" in s)]

,name,year_start,year_end,position,height,weight,birth_date,college
673,Wilt Chamberlain,1960,1973,C,7-1,275.0,"August 21, 1936",University of Kansas
4446,Kyle Wiltjer,2017,2017,F,6-10,240.0,"October 20, 1992",Gonzaga University

In [24]:
# the player_data['name'] column seems well formed
# but we run into an issue with the similar column in players.csv...players['Player']

players.loc[players['Player'].isin(s for s in players['Player'] if "Wilt" in s)]

TypeError: argument of type 'float' is not iterable

In [25]:
players_list = players['Player']

In [26]:
type(players_list)

pandas.core.series.Series

In [27]:
players.head(10)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana

In [28]:
# note the error
# you can confirm independently that both Wilt C and Kyle Wiltjer have entries in the file

matching3 = [s for s in players_list if "Wilt" in s]

TypeError: argument of type 'float' is not iterable

### What is causing the issue is a "Nan" entry being interpreted as a float type

### We need to clean that value up

### We can use the feature .isna() to identify that troublesome entry
### And, lo and behold, the entire row is blank!

### How do we drop a row?

In [29]:
players.loc[players_list.isna()]

     Unnamed: 0 Player  height  weight collage  born birth_city birth_state
223         223    NaN     NaN     NaN     NaN   NaN        NaN         NaN

### Let's look at the surrounding rows.

In [30]:
players.loc[220:225]

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
220,220,D.C. Wilcutt,175.0,70.0,NaN,1926.0,NaN,NaN
221,221,Bob Wood,175.0,70.0,Northern Illinois University,1921.0,NaN,NaN
222,222,Max Zaslofsky,188.0,77.0,St. John's University,1925.0,Brooklyn,New York
223,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,224,Paul Arizin*,193.0,86.0,Villanova University,1928.0,Philadelphia,Pennsylvania
225,225,Ed Beach,190.0,90.0,West Virginia University,1929.0,NaN,NaN

### Let's make sure we have the correct index of the row we want to drop

### It looks like it should be record 223

In [31]:
players.loc[223]

Unnamed: 0     223
Player         NaN
height         NaN
weight         NaN
collage        NaN
born           NaN
birth_city     NaN
birth_state    NaN
Name: 223, dtype: object

In [32]:
# We can investigate the signature of drop using `?`

#players.drop?

In [33]:
# We can always re-import the file.
# Let's see what happens if we simply give .drop[] an index...

players2 = players.drop([223])

In [34]:
# We can look at that set of records now

players2.loc[220:225]

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
220,220,D.C. Wilcutt,175.0,70.0,NaN,1926.0,NaN,NaN
221,221,Bob Wood,175.0,70.0,Northern Illinois University,1921.0,NaN,NaN
222,222,Max Zaslofsky,188.0,77.0,St. John's University,1925.0,Brooklyn,New York
224,224,Paul Arizin*,193.0,86.0,Villanova University,1928.0,Philadelphia,Pennsylvania
225,225,Ed Beach,190.0,90.0,West Virginia University,1929.0,NaN,NaN

In [35]:
# and let's go back to our original goal of finding all the entries with "Wilt" using that same script

players2.loc[players2['Player'].isin(s for s in players2['Player'] if "Wilt" in s)]

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
494,494,Wilt Chamberlain*,216.0,124.0,University of Kansas,1936.0,Philadelphia,Pennsylvania
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon

In [36]:
player_data.loc[player_data['name'].isin(s for s in player_data['name'] if "Wilt" in s)]

,name,year_start,year_end,position,height,weight,birth_date,college
673,Wilt Chamberlain,1960,1973,C,7-1,275.0,"August 21, 1936",University of Kansas
4446,Kyle Wiltjer,2017,2017,F,6-10,240.0,"October 20, 1992",Gonzaga University

## SUCCESS!!

### But what do we notice about the GOAT?

### In this file it seems there's a star attached to his name

# STOP Feb 14

# Problem 1

## Let's go back to our football play-calling example

## Offense can call Run or Pass
## Defense can call Normal or Blitz

## Now Payoffs (Offense, Defense) are:
### {3, -3} for Run/Normal
### {5, -5} for Run/Blitz
### {8, -8} for Pass/Normal
### {-5, 5} for Pass/Blitz

## 1) You are in charge of the Offense. Your team of advance scouts tells you that the Defense calls Normal 60% of the time, and Blitz 40% of the time. What is your optimal mix of Run/Pass calls?

## 2) You are in charge of the Defense. Your scouts tell you the Offense calls Run 50% and Pass 50%. What is your optimal mix of Normal/Blitz defense calls?

## Your answers should be percent mix, with some notes/comments/math on how you got there. Hint: Consider how this would look in Decision Tree form.

# Answers...

In [ ]:
#1. The best option is to run every single down. If you run on every play, you have an expected yards per play of 3.8,
#   which is more than enough to pick up a first down after three plays. If you pass on every play, you can expect 2.8 yards per
#   attempt, which will make you fall short of a first down after three plays
#2. If you run a normal defense on every play, you will be expected to give up 5.5 yards per play as opposed to 0 Yards per
#   play with constant blitzing. Therefore, blitzing every play is ideal.

# Problem 2

## Using some of the code examples above, and/or additional code, explore the NBA data files we worked on in class.

## Extract the records of any 3 of the following NBA greats:
### Wilt Chamberlain
### Jerry West ("The Logo")
### Kareem Abdul Jabbar
### Julius Erving
### Larry Bird
### Moses Malone
### Magic Johnson
### Michael Jordan
### Kobe Bryant
### Charles Barkley
### Shaquille O'Neal
### Karl Malone
### LeBron James
### Steph Curry

## Please leave the working code as your answer!

In [41]:
player_data.loc[player_data['name'].isin(['Kobe Bryant'])]

,name,year_start,year_end,position,height,weight,birth_date,college
528,Kobe Bryant,1997,2016,G-F,6-6,212.0,"August 23, 1978",NaN

In [40]:
ann_stats.loc[ann_stats['Player'].isin(['Kobe Bryant'])]

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12900,12900,1997.0,Kobe Bryant,SG,18.0,LAL,71.0,6.0,1103.0,14.4,...,0.819,47.0,85.0,132.0,91.0,49.0,23.0,112.0,102.0,539.0
13479,13479,1998.0,Kobe Bryant,SG,19.0,LAL,79.0,1.0,2056.0,18.5,...,0.794,79.0,163.0,242.0,199.0,74.0,40.0,157.0,180.0,1220.0
14021,14021,1999.0,Kobe Bryant,SG,20.0,LAL,50.0,50.0,1896.0,18.9,...,0.839,53.0,211.0,264.0,190.0,72.0,50.0,157.0,153.0,996.0
14537,14537,2000.0,Kobe Bryant,SG,21.0,LAL,66.0,62.0,2524.0,21.7,...,0.821,108.0,308.0,416.0,323.0,106.0,62.0,182.0,220.0,1485.0
15028,15028,2001.0,Kobe Bryant,SG,22.0,LAL,68.0,68.0,2783.0,24.5,...,0.853,104.0,295.0,399.0,338.0,114.0,43.0,220.0,222.0,1938.0
15578,15578,2002.0,Kobe Bryant,SG,23.0,LAL,80.0,80.0,3063.0,23.2,...,0.829,112.0,329.0,441.0,438.0,118.0,35.0,223.0,228.0,2019.0
16070,16070,2003.0,Kobe Bryant,SG,24.0,LAL,82.0,82.0,3401.0,26.2,...,0.843,106.0,458.0,564.0,481.0,181.0,67.0,288.0,218.0,2461.0
16576,16576,2004.0,Kobe Bryant,SG,25.0,LAL,65.0,64.0,2447.0,23.7,...,0.852,103.0,256.0,359.0,330.0,112.0,28.0,171.0,176.0,1557.0
17159,17159,2005.0,Kobe Bryant,SG,26.0,LAL,66.0,66.0,2689.0,23.3,...,0.816,95.0,297.0,392.0,398.0,86.0,53.0,270.0,174.0,1819.0
17742,17742,2006.0,Kobe Bryant,SG,27.0,LAL,80.0,80.0,3277.0,28.0,...,0.850,71.0,354.0,425.0,360.0,147.0,30.0,250.0,233.0,2832.0
18295,18295,2007.0,Kobe Bryant,SG,28.0,LAL,77.0,77.0,3140.0,26.1,...,0.868,75.0,364.0,439.0,413.0,111.0,36.0,255.0,205.0,2430.0
18825,18825,2008.0,Kobe Bryant,SG,29.0,LAL,82.0,82.0,3192.0,24.2,...,0.840,94.0,423.0,517.0,441.0,151.0,40.0,257.0,227.0,2323.0
19428,19428,2009.0,Kobe Bryant,SG,30.0,LAL,82.0,82.0,2960.0,24.4,...,0.856,90.0,339.0,429.0,399.0,120.0,37.0,210.0,189.0,2201.0
20006,20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,...,0.811,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0
20600,20600,2011.0,Kobe Bryant,SG,32.0,LAL,82.0,82.0,2779.0,23.9,...,0.828,83.0,336.0,419.0,388.0,99.0,12.0,243.0,172.0,2078.0
21196,21196,2012.0,Kobe Bryant,SG,33.0,LAL,58.0,58.0,2232.0,21.9,...,0.845,66.0,247.0,313.0,264.0,69.0,18.0,204.0,105.0,1616.0
21757,21757,2013.0,Kobe Bryant,SG,34.0,LAL,78.0,78.0,3013.0,23.0,...,0.839,66.0,367.0,433.0,469.0,106.0,25.0,287.0,173.0,2133.0
22348,22348,2014.0,Kobe Bryant,SG,35.0,LAL,6.0,6.0,177.0,10.7,...,0.857,2.0,24.0,26.0,38.0,7.0,1.0,34.0,9.0,83.0
22944,22944,2015.0,Kobe Bryant,SG,36.0,LAL,35.0,35.0,1207.0,17.6,...,0.813,26.0,173.0,199.0,197.0,47.0,7.0,128.0,65.0,782.0
23586,23586,2016.0,Kobe Bryant,SF,37.0,LAL,66.0,66.0,1863.0,14.9,...,0.826,41.0,206.0,247.0,184.0,62.0,13.0,129.0,115.0,1161.0

,name,year_start,year_end,position,height,weight,birth_date,college
2033,Magic Johnson,1980,1996,G-F,6-9,215.0,"August 14, 1959",Michigan State University

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12900,12900,1997.0,Kobe Bryant,SG,18.0,LAL,71.0,6.0,1103.0,14.4,...,0.819,47.0,85.0,132.0,91.0,49.0,23.0,112.0,102.0,539.0
13479,13479,1998.0,Kobe Bryant,SG,19.0,LAL,79.0,1.0,2056.0,18.5,...,0.794,79.0,163.0,242.0,199.0,74.0,40.0,157.0,180.0,1220.0
14021,14021,1999.0,Kobe Bryant,SG,20.0,LAL,50.0,50.0,1896.0,18.9,...,0.839,53.0,211.0,264.0,190.0,72.0,50.0,157.0,153.0,996.0
14537,14537,2000.0,Kobe Bryant,SG,21.0,LAL,66.0,62.0,2524.0,21.7,...,0.821,108.0,308.0,416.0,323.0,106.0,62.0,182.0,220.0,1485.0
15028,15028,2001.0,Kobe Bryant,SG,22.0,LAL,68.0,68.0,2783.0,24.5,...,0.853,104.0,295.0,399.0,338.0,114.0,43.0,220.0,222.0,1938.0
15578,15578,2002.0,Kobe Bryant,SG,23.0,LAL,80.0,80.0,3063.0,23.2,...,0.829,112.0,329.0,441.0,438.0,118.0,35.0,223.0,228.0,2019.0
16070,16070,2003.0,Kobe Bryant,SG,24.0,LAL,82.0,82.0,3401.0,26.2,...,0.843,106.0,458.0,564.0,481.0,181.0,67.0,288.0,218.0,2461.0
16576,16576,2004.0,Kobe Bryant,SG,25.0,LAL,65.0,64.0,2447.0,23.7,...,0.852,103.0,256.0,359.0,330.0,112.0,28.0,171.0,176.0,1557.0
17159,17159,2005.0,Kobe Bryant,SG,26.0,LAL,66.0,66.0,2689.0,23.3,...,0.816,95.0,297.0,392.0,398.0,86.0,53.0,270.0,174.0,1819.0
17742,17742,2006.0,Kobe Bryant,SG,27.0,LAL,80.0,80.0,3277.0,28.0,...,0.850,71.0,354.0,425.0,360.0,147.0,30.0,250.0,233.0,2832.0
18295,18295,2007.0,Kobe Bryant,SG,28.0,LAL,77.0,77.0,3140.0,26.1,...,0.868,75.0,364.0,439.0,413.0,111.0,36.0,255.0,205.0,2430.0
18825,18825,2008.0,Kobe Bryant,SG,29.0,LAL,82.0,82.0,3192.0,24.2,...,0.840,94.0,423.0,517.0,441.0,151.0,40.0,257.0,227.0,2323.0
19428,19428,2009.0,Kobe Bryant,SG,30.0,LAL,82.0,82.0,2960.0,24.4,...,0.856,90.0,339.0,429.0,399.0,120.0,37.0,210.0,189.0,2201.0
20006,20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,...,0.811,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0
20600,20600,2011.0,Kobe Bryant,SG,32.0,LAL,82.0,82.0,2779.0,23.9,...,0.828,83.0,336.0,419.0,388.0,99.0,12.0,243.0,172.0,2078.0
21196,21196,2012.0,Kobe Bryant,SG,33.0,LAL,58.0,58.0,2232.0,21.9,...,0.845,66.0,247.0,313.0,264.0,69.0,18.0,204.0,105.0,1616.0
21757,21757,2013.0,Kobe Bryant,SG,34.0,LAL,78.0,78.0,3013.0,23.0,...,0.839,66.0,367.0,433.0,469.0,106.0,25.0,287.0,173.0,2133.0
22348,22348,2014.0,Kobe Bryant,SG,35.0,LAL,6.0,6.0,177.0,10.7,...,0.857,2.0,24.0,26.0,38.0,7.0,1.0,34.0,9.0,83.0
22944,22944,2015.0,Kobe Bryant,SG,36.0,LAL,35.0,35.0,1207.0,17.6,...,0.813,26.0,173.0,199.0,197.0,47.0,7.0,128.0,65.0,782.0
23586,23586,2016.0,Kobe Bryant,SF,37.0,LAL,66.0,66.0,1863.0,14.9,...,0.826,41.0,206.0,247.0,184.0,62.0,13.0,129.0,115.0,1161.0

In [42]:
players.loc[players['Player'].isin(['Kobe Bryant'])]

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
2456,2456,Kobe Bryant,198.0,96.0,NaN,1978.0,Philadelphia,Pennsylvania

In [43]:
player_data.loc[player_data['name'].isin(['Michael Jordan'])]

,name,year_start,year_end,position,height,weight,birth_date,college
2116,Michael Jordan,1985,2003,G-F,6-6,195.0,"February 17, 1963",University of North Carolina

In [48]:
player_data.loc[player_data['name'].isin(['Magic Johnson'])]

,name,year_start,year_end,position,height,weight,birth_date,college
2033,Magic Johnson,1980,1996,G-F,6-9,215.0,"August 14, 1959",Michigan State University